<div class="fb-share-button" data-href="http://squirrelicious.herokuapp.com/" data-layout="icon"></div>

<div id="content"></div>
<div class="center absolute">
  <%= image_tag "ajax-loader.gif", class: "ajax-spinner", title: "Loading..." %>
</div>

<script type="text/javascript">
  $("#ajaxSpinnerImage").hide();

  $(document).ajaxStart(function(){
    $("#ajaxSpinnerImage").show();
    console.log("show");
  }).ajaxStop(function(){
    $("#ajaxSpinnerImage").hide();
  });

  Squirrelicious.requestRecipes();
</script>