<div class="container">
  <h1>It looks like you're in:</h1>
      <h2 id="address"></h2>
  <div class="row">
    <div class="col-md-8">
      <div id="map-canvas"></div>
    </div>
    <div class="col-md-4">
      <h4>Trending on Twitter</h4>
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=squirrel" data-widget-id="560103089739677697"></a>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script type="text/javascript">
  Squirrelicious.getLocation();

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>