<% content_for :head do %>
	<meta property="og:image" content="<%= image_url('squirrelicious.jpg') %>"/>
<% end %>

<div id="content">
	<div class="img-bg cooking">
		<div class="bg-strip">
			<h1 class="site-title">Squirrelicious</h1>
			<h3 class="tag-line">Delectable urban squirrel recipes for any occasion</h3>

			<%= link_to search_path do %>
				<div class="btn btn-go"><span class="glyphicon glyphicon-cutlery"></span> I'm feeling hungry</div>
			<% end %>
		</div>
	</div>
</div>
<div class="footer">
	<div class="center">
		A project of <a href="https://github.com/open-eie/open-src" target="blank">SRC</a> | Squirrelicious on <a href="https://github.com/emreiser/squirrelicious" target="blank">GitHub</a>.
	</div>
</div>
