<div class="container">
  <div class="page-header">
    <h1 class="recipe-index-header">Recipes</h1>
    <div id="search-bar" class="right">
      Search for recipes that tase like: <input id="ingredient" placeholder="Veal...">
      <div id="ingredient-search" class="btn btn-go">Go</div>
    </div>
  </div>

  <div id="recipe-list"></div>
  <br>
  <div id="yummly-att-content"> 
    Recipe search powered by <a href="http://www.yummly.com/recipes"><img alt="Yummly" src="http://static.yummly.com/api-logo.png"/></a>
  </div>
</div>

<script type="text/javascript">
  $("#ingredient-search").on("click", function(){
    var ingredient = $("#ingredient").val();
    Squirrelicious.requestRecipes(event, ingredient);
  });

  $("#ingredient").on("keyup", function(event){
    if(event.keyCode == 13){
      $("#ingredient-search").trigger("click");
    }
  });
</script>